/* Estilo para el cuerpo de la página */
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Estilo para el formulario */
  form {
    background-color: black;
    border: 2px solid white;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  /* Estilo para los botones */
  button {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Estilo para los campos de entrada */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
  }
  
  /* Estilo para el mensaje de resultado */
  #result-message {
    color: white;
    margin-top: 10px;
  }
  