<!DOCTYPE html>
<html>
<head>
    <title>Procesar Archivo Excel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Formulario de Carga de Archivo Excel</h1>
    <form action="/process/" method="post" enctype="multipart/form-data">
        <label for="file">Selecciona un archivo Excel:</label>
        <input type="file" name="file" id="file" accept=".xlsx, .xls">
        <label for="message">Mensaje personalizado:</label>
        <input type="text" name="message" id="message">
        <button type="submit">Procesar</button>
    </form>
</body>
</html>
